ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.nav {
  float: right;
  align-items: right;
}

.img {
  border-radius: 6px;
}
.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
